.head-bar
{
    position: fixed;
    height: 60px;
    right: 0px;
    left: 0px;
    top: 0px;
    background-color:white ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-color: white ;
    border-bottom-width: 1px;
    box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.8);
    border-bottom-style: solid;
    z-index: 100;
    font-family: anta;
    color: black;
    font-size: 13px;
}
.logo-image
{
    width: 140px;
    height: 60px;
}

.right-section a
{
    position: relative;
    color: black;
    margin-left: 20px;
    text-decoration: none;
}
.right-section a::before
{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: black;
    transition: 0.3s;

}
.right-section a:hover::before
{
    width: 100%;
}

.burger-menu , .burger-menu-button
{
    display: none;
}




@media only screen and (max-width: 600px)
{
    
    .burger-menu-button
    {
        display: block;
        width: 40px;
        height: 40px;
        background-image: url(menu-burger.png),url(close.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center,center left 50px;
        margin-right: 10px;
    }
    
    .burger-menu
    {
        display: none;
        position: fixed;
        width: 100%;
        height: 100vh;
        z-index:99 ;
        background-color: white;
    }
    .burger-menu ul
    {
        width: 100%;
        height: calc(100vh - 60px);
        margin-left: 0px;
        padding-left: 0px;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
    }
    .burger-menu ul li
    {
        flex-basis: 100%;
        border-top: 2px solid black;
    }
    .burger-menu ul li:last-child
    {
        
        border-bottom: 2px solid black;
    }
    .burger-menu ul li a
    {
        display: block;
        height: 100%;
        font-size: 3rem;
        padding: 30px 0px;
        flex-basis: 100%;
        text-align: center;
        color: black;
        text-decoration: none;
        font-family: anta;
    }
    
    
    .head-bar
    {
        position: fixed;
        height: 80px;
        right: 0px;
        left: 0px;
        top: 0px;
        background-color:white ;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom-color: white ;
        border-bottom-width: 1px;
        box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.8);
        border-bottom-style: solid;
        z-index: 100;
        font-family: anta;
        color: black;
        font-size: 13px;
        width: 100%;
    }
    .logo-image
    {
        width: 180px;
        height: 70px;
        margin-left: 0px;
    }
    .hm
    {
        display: none;
        height: 0px;
    }
    .abm{
        display: none;
        height: 0px;
    }
    .prc{
        display: none;
        height: 0px;

    }
    .cntct{
        display: none;
        height: 0px;
    }
    


}


@media only screen and (max-width:385px)
{
    .burger-menu-button
    {
        display: block;
        width: 40px;
        height: 40px;
        background-image: url(menu-burger.png),url(close.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center,center left 50px;
        margin-right: 40px;
    }    
}

@media only screen and (max-width: 920px) and (orientation : landscape  )
{


    .head-bar
    {
        position: fixed;
        height: 60px;
        right: 0px;
        left: 0px;
        top: 0px;
        background-color:white ;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom-color: white ;
        border-bottom-width: 1px;
        box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.8);
        border-bottom-style: solid;
        z-index: 100;
        font-family: anta;
        color: black;
        font-size: 13px;
        width: 100%;
    }




    .burger-menu-button
    {
        display: block;
        width: 40px;
        height: 40px;
        background-image: url(menu-burger.png),url(close.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center,center left 50px;
        margin-right: 10px;
    }
    
    .burger-menu
    {
        display: none;
        position: fixed;
        width: 100%;
        height: 100vh;
        z-index:99 ;
        background-color: white;
    }
    .burger-menu ul
    {
        width: 100%;
        height: calc(100vh - 80px);
        margin-left: 0px;
        padding-left: 0px;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
    }
    .burger-menu ul li
    {
        flex-basis: 100%;
        border-top: 2px solid black;
    }
    .burger-menu ul li:last-child
    {
        
        border-bottom: 2px solid black;
    }
    .burger-menu ul li a
    {
        display: block;
        height: 100%;
        font-size: 3rem;
        padding: 10px 0px;
        flex-basis: 100%;
        text-align: center;
        color: black;
        text-decoration: none;
        font-family: anta;
    }
    
    
    .head-bar
    {
        position: fixed;
        height: 80px;
        right: 0px;
        left: 0px;
        top: 0px;
        background-color:white ;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom-color: white ;
        border-bottom-width: 1px;
        box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.8);
        border-bottom-style: solid;
        z-index: 100;
        font-family: anta;
        color: black;
        font-size: 13px;
        width: 100%;
    }
    .logo-image
    {
        width: 180px;
        height: 70px;
        margin-left: 0px;
    }
    .hm
    {
        display: none;
        height: 0px;
    }
    .abm{
        display: none;
        height: 0px;
    }
    .prc{
        display: none;
        height: 0px;

    }
    .cntct{
        display: none;
        height: 0px;
    }


}