.page
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 3000px;
    display: block;
}


.hire-me-page 
{
    background-image: url(hire-me-image.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    width: 100%;
}